@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inder", sans-serif;
}

body {
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: white;
}

.main-container {
    padding: 5%;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container .title {
    font-size: 44px;
}

.main-container .add-task {
    border-radius: 50px 50px 0px 0px;
    padding: 1%;
    background-color: #e4e4e45c;
    height: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 0px 8px 3px rgba(0, 0, 0, 0.06);
}

.main-container .add-task .content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 1%;
    padding: 1%;
}

.main-container .add-task .content input {
    width: 50%;
    border: transparent;
    background: #ffffff;
    color: #333333;
    border-radius: 10px;
    outline: none;
    padding: 2%;
}

.main-container .add-task .content button {
    background: black;
    color: white;
    border: transparent;
    border-radius: 10px;
    outline: none;
    padding: 2%;
    cursor: pointer;
}

.main-container .all-task {
    border-radius: 0px 0px 50px 50px;
    padding: 1%;
    background-color: #e4e4e45c;
    height: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 0px 8px 3px rgba(0, 0, 0, 0.06);
}


.main-container ul {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container ul li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    background-color: white;
    border-radius: 12px;
    margin: 1%;
}

.main-container ul li .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.done {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.delete {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}

@media screen and (max-width:1110px) {
    .main-container .add-task {
        width: 85%;
    }

    .main-container .all-task {
        width: 85%;
    }

}

@media screen and (max-width:768px) {
    .main-container .title {
        font-size: 32px;
    }

    .main-container ul {
        font-size: 14px;
    }
}

@media screen and (max-width:350px) {
    .main-container .add-task {
        width: 100%;
    }

    .main-container .add-task .content input {
        width: 60%;
    }

    .main-container .add-task .content button {
        padding: 2%;
        font-size: 11px;
    }

    .main-container .all-task {
        width: 100%;
    }

    .main-container .title {
        font-size: 20px;
    }

    .main-container ul {
        font-size: 11px;
    }

    .done {
        padding: 5px;
    }

    .delete {
        padding: 5px;

    }
}